import /init.recovery.samsung.rc

on early-init
    mkdir /mnt/vendor/efs 0771 radio root
    setprop ro.crypto.type file

on init
    write /proc/sys/kernel/hung_task_timeout_secs 0
    export LD_LIBRARY_PATH /system/lib64:/vendor/lib64:/vendor/lib64/hw:/system/lib64/hw
    start boot-hal-1-2
    start watchdogd

on boot
    start health-hal-2-1

on property:ro.crypto.state=encrypted && property:ro.crypto.type=file
    install_keyring

service keystore_auth /system/bin/keystore_auth
    oneshot
    user system
    group root
    disabled
    seclabel u:r:recovery:s0

service keystore /system/bin/keystore /tmp/misc/keystore
    user root
    group root drmrpc readproc
    disabled
    seclabel u:r:recovery:s0

service watchdogd /system/bin/watchdogd 10 20
    disabled
    oneshot
    seclabel u:r:recovery:s0

service gatekeeper-default /vendor/bin/hw/android.hardware.gatekeeper-service
    user root
    group root 5678
    disabled
    seclabel u:r:recovery:s0

service keymint-default /vendor/bin/hw/android.hardware.security.keymint-service
    user root
    group root drmrpc
    disabled
    seclabel u:r:recovery:s0

on property:vendor.sys.listener.registered=true
    start tz_service
    start tzts_service
    start keymint-default
    start gatekeeper-default

on property:hwservicemanager.ready=true
    start tz_service
    start tzts_service
    start keymint-default
    start gatekeeper-default

on property:ro.crypto.state=unsupported
    stop tz_service
    stop tzts_service
    stop keymint-default
    stop gatekeeper-default

on property:ro.crypto.state=unencrypted
    stop tz_service
    stop tzts_service
    stop keymint-default
    stop gatekeeper-default

on property:twrp.all.users.decrypted=true
    stop tz_service
    stop tzts_service
    stop keymint-default
    stop gatekeeper-default